@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "./variables";
@import "./mixins";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button {
  transition: all .15s ease-in;
}

body {
  color: #3E4056;
  font-family: $open-sans;
  font-size: 14px;
  background-color: #F2F2F2;
  padding: 0 0 200px 0;
  margin: 0;
}

.page-header {
  background: #fff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 0 11px 0;
  position: relative;
  z-index: 1;
}

.page-header__inner,
.main__inner {
  @include container();
}


.page-header__row {
  text-align: center;
  display: flex;

  @media (min-width: $media-screen-tablet) {
    display: flex;
  }
}

.logo {
  padding-top: 4px;
}

.user-panel {
  display: flex;
  margin-left: auto;
}

.user-info {
  display: flex;
  align-items: center;

  .user-info__name {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin-right: 20px;
  }

  .user-info__photo {
    img {
      display: block;
      @include square(32px);
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.dropdown-toggle {
  display: block;
  @include square(16px);
  background: url("../img/icon_arrow.svg") no-repeat;
  margin-left: 12px;
}

.user-action {
  display: none;
  margin-left: 17px;

  @media (min-width: $media-screen-tablet) {
    display: flex;
  }

  .user-action__item {
    display: block;
    @include square(32px);
    background-repeat: no-repeat;
    background-size: contain;

    &--notifications {
      background-image: url("../img/notifications.svg");
    }

    &--share {
      background-image: url("../img/share.svg");
    }

    &--medium {
      background-image: url("../img/medium.svg");
    }
  }
}

.header-action-row {
  display: flex;
  margin-top: 18px;
}

.main-nav__list {
  display: flex;
  padding: 0;
  margin: 0;

  .main-nav__item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 37px;
    }
  }

  .main-nav__link {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #3E4056;
    text-decoration: none;
    opacity: .6;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 4px;
      background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
      right: 0;
      bottom: -23px;
      transition: width .15s ease;
      will-change: width;
    }

    &.active,
    &:hover {
      opacity: 1;

      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.action-button {
  position: relative;
  @include square(64px);
  border-radius: 50%;
  border: none;
  background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
  margin: 10px 0 -43px auto;
  cursor: pointer;

  &:after,
  &:before {
    position: absolute;
    content: "";
    background-color: #FFF;
    @include size(2px, 20px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .2s ease-in;
  }

  &:after {
    transform: rotate(-90deg);
  }

  &:hover {
    transform: scale(1.1);
    background: linear-gradient(170deg, #FF974F 0%, #E32C75 100%);
  }
}

.main__inner {
  position: relative;
  padding-top: 72px;

  @media (min-width: $media-screen-desktop) {
    display: flex;
  }
}

.sidebar {
  color: #3E3F58;
  margin-bottom: 52px;
  flex-shrink: 0;

  @media (min-width: $media-screen-tablet) {
    margin-right: 47px;
  }


  @media (min-width: $media-screen-desktop) {
    width: 350px;
    margin-bottom: 0;
  }
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
  max-width: 350px;

  .profile__photo {
    margin-right: 24px;

    img {
      @include square(100px);
      border-radius: 50%;
      object-fit: cover;
      display: block;

      @media (min-width: $media-screen-desktop-lg) {
        @include square(120px);
      }
    }
  }

  .profile__name {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .profile__tag {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
  }

  .profile__action {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    padding-left: 29px;

    .edit-icon {
      position: absolute;
      left: 0;
      background: url("../img/edit_icon.svg") no-repeat;
      @include square(20px);
    }

    a {
      text-decoration-line: underline;
      color: #F05D63;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.profile-dropdown-button {
  position: absolute;
  @include square(16px);
  right: 19px;
  top: 4px;
  background: url("../img/dots_menu.svg") no-repeat;
}

.profile-dropdown {
  position: absolute;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.94);
  @include size(176px, 124px);
  padding: 24px 0;
  right: 20px;
  top: 40px;
  z-index: 9;
  display: none;

  @media (min-width: $media-screen-tablet) {
    right: -136px;
    top: 40px;
  }

  &.is-active {
    display: block;
  }
}

.profile-dropdown__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 24px;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:hover {
    background: rgba(236, 241, 248, .6)
  }
}

.profile-dropdown__icon {
  @include square(20px);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 16px;

  &--report {
    background-image: url("../img/icon_report.svg");
  }

  &--block {
    background-image: url("../img/icon_delete.svg");
  }
}

.stat {
  display: flex;
  padding-left: 3px;
  margin-bottom: 23px;
  justify-content: center;

  @media (min-width: $media-screen-tablet) {
    justify-content: flex-start;
  }
}

.stat__item {
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 48px;
  }

  span {
    display: block;
    font-weight: 700;
    font-size: 18px;
  }
}

.about {
  font-size: 16px;
  line-height: 24px;
}

.mode-switcher {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
  position: absolute;
  top: 22px;
  left: 6px;

  @media (min-width: $media-screen-tablet) {
    top: 72px;
    right: 16px;
    left: auto;
  }

  @media (min-width: $media-screen-desktop) {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }
}

.mode-switcher__control {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  padding: 0 10px;
}

.mode-switcher__toggler {
  position: relative;
  @include size(40px, 24px);
  background: #ED5267;
  border: 1px solid #ED5267;
  margin: 0 20px;
  border-radius: 16px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    @include square(18px);
    border-radius: 50%;
    top: 0;
    bottom: 0;
    background-color: #fff;
    margin: auto;
    transition: all 1s ease-in;
  }

  &.is-private {
    &:before {
      right: 2px;
      left: auto;
    }
  }

  &.is-public {
    &:before {
      right: auto;
      left: 2px;
    }
  }
}

.cards {

  @media (min-width: $media-screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    width: 797px;
  }
}

.card {
  margin-bottom: 24px;
  width: 100%;

  @media (min-width: $media-screen-tablet) {
    width: 50%;
    padding: 0 12px;
    flex-shrink: 0;
  }

  .card__header {
    min-height: 24px;
    margin-bottom: 8px;
  }

  .card__title {
    font-family: $montserrat;
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    margin: 0;
  }
}

.card__inner {
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  padding: 24px;
  z-index: 1;
  min-height: 280px;
  min-width: 0%;

  &:before {
    position: absolute;
    content: "";
    background: #FFFFFF;
    opacity: 0.5;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.card__footer {
  min-height: 25px;
  margin-top: 42px;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.author {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-weight: 600;

  .author__avatar {
    @include square(24px);
    background-color: #B2B3BB;
    border-radius: 50%;
    margin-right: 8px;
  }

  .author__name {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.share-link {
  font-size: 18px;
  line-height: 25px;
  color: #F05D63;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.share-status {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  .share-status__text-field {
    background: #ECF1F8;
    border-radius: 6px;
    margin-left: 4px;
    padding: 3px 5px 5px 4px;
    line-height: 1;
  }

  .share-status__link {
    display: block;
    @include square(20px);
    background: url("../img/copy.svg")no-repeat;
    margin-right: 2px;
  }
}

.meta-info {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.meta-info__item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 16px;
  }
}

.meta-info__icon {
  @include square(16px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;

  &--view {
    background-image: url("../img/icon_view.svg");
  }

  &--like {
    background-image: url("../img/icon_like.svg");
  }
}