// fonts
$open-sans: "Open Sans", sans-serif;
$montserrat: 'Montserrat', sans-serif;

// media queries
$media-screen-min: 320px;
$media-screen-phone: 375px;
$media-screen-tablet: 640px;
$media-screen-desktop: 960px;
$media-screen-desktop-lg: 1280px;